# If you want electrum-xuez to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum_xuez.desktop

[Desktop Entry]
Comment=Lightweight Xuezpay Client
Exec=electrum-xuez %u
GenericName[en_US]=Electrum-XUEZ
GenericName=Electrum-XUEZ
Icon=electrum-xuez
Name[en_US]=Electrum Xuezpay Wallet
Name=Electrum Xuezpay Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/xuezpay;

